ul {
  list-style-type: none;
}
[draggable="true"] {
  color: white;
  font-weight: bold;
  background-color: #00cdff;
  text-align: center;
  padding: 10px;
  width: 100px;
  margin: 5px;
}

.draggingElem {
  background-color: orange;
  pointer-events: none;
  list-style-type: none;
}
